#table-of-contents {
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; 
	color: white; 
	margin-left: 10px; 
	font-size: 1.3em; 
    background: lightgrey;
    padding: 10px;;
    width: 220px;
    z-index: 100;
    position: fixed;
	line-height: 35px;
	text-transform: uppercase;
}
#table-of-contents a {
	color: white;
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	
}

p {
	width: 700px;
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	font-size: 1em;
	padding-left: 330px;
	text-align: left;
	font-weight: 400;
	clear: both;
}



ul.specifics  {
	width: 700px;
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	font-size: 1em;
	padding-left: 370px;
	text-align: left;
	font-weight: 400;
}

h1 {
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; 
	color: #7b5894; 
	font-weight: 800; 
	margin-left: 10px; 
	font-size: 4.5em; 
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 0px;
	padding-left: 320px;
}

h2 {

	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; 
	color: lightgrey;  
	font-weight: 800; 
	margin-left: 10px; 
	font-size: 2.3em; 
	padding-left: 320px;
	text-transform: uppercase;
	width: 900px;
	padding-top: 50px;
	clear: both;

}

h3 {
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; 
	font-weight: 800; 
	margin-left: 10px; 
	font-size: 1.5em; 
	padding-left: 320px;
	width: 900px
	clear: both;

}


img {
	padding-bottom: 20px;
	padding-top: 20px;
}


a {font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
   color: gray; 
   text-decoration: none; 
   font-size: 1em
} 
	  
a:hover {color: lightgrey; font-weight: 600}
a:visited {color: gray}
a:active {color: gray}

.buttons button {
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  font-size: 1em;
  font-weight: 600;
  background-color: lightgrey;
  color: white;
  padding: 10px 45px; 
  cursor: pointer; 
  float: left;
  width: 30px;
  left: 330px;
  position: relative;
  margin-right: 10px;
  margin-top: 30px;
}

.buttons button:not(:last-child) {
  border-right: none; 
}

.buttons:after {
  content: "";
  clear: both;
  display: table;
}

.buttons button:hover {
  background-color: gray;
}


